-e git+https://github.com/rense/django-suit.git@v2#egg=django-suit
-e git+https://github.com/rense/django-rest-camel#egg=django-rest-camel

bpython

django
django-cors-headers
django-extensions
djangorestframework
djangorestframework-jwt

invoke

mysqlclient

pillow

werkzeug
