-e git+https://github.com/rense/django-rest-camel#egg=django-rest-camel

bpython

django==1.11.7
django-extensions
django-mptt
djangorestframework
djangorestframework-jwt

django-suit
django-suit-redactor

invoke

mysqlclient

pillow

werkzeug
