-e git+https://github.com/rense/django-rest-camel#egg=django-rest-camel

bpython

django
django-extensions
django-mptt
djangorestframework
djangorestframework-jwt
django-suit

invoke

mysqlclient

pillow

werkzeug
