{% extends "admin/filer/folder/directory_listing.html" %}
{% load suit_tags static i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/suit_filer_fix.css' %}">
{% endblock %}

{% block bodyclass %}{{ block.super|suit_body_class:request }} change-list filebrowser{% endblock %}

{% block object-tools-items %}
    <div class="navigator-button-wrapper">
        {% if folder.can_have_subfolders and can_make_folder %}
            <a href="{% url 'admin:filer-directory_listing-make_root_folder' %}?parent_id={{ folder.id }}&amp;_popup=1"
                title="{% trans 'Adds a new Folder' %}"
                class="navigator-button"
                onclick="return showAddAnotherPopup(this);">
                {% trans "New Folder" %}
            </a>
        {% endif %}

        {% if permissions.has_add_children_permission and not folder.is_root %}
            <a href="#" id="id_upload_button" title="{% trans 'Upload Files' %}"
               class="navigator-button navigator-button-upload js-upload-button"
               data-url="{% url 'admin:filer-ajax_upload' folder_id=folder.id %}"
               data-max-uploader-connections="{{ uploader_connections }}">
                {% trans "Upload Files" %}
            </a>
        {% elif folder.is_unsorted_uploads %}
            <a href="#" id="id_upload_button" title="{% trans 'Upload Files' %}"
               class="navigator-button navigator-button-upload js-upload-button"
               data-url="{% url 'admin:filer-ajax_upload' %}"
               data-max-uploader-connections="{{ uploader_connections }}">
                {% trans "Upload Files" %}
            </a>
        {% endif %}
        {% if folder.is_root and not folder.is_unsorted_uploads %}
            <span class="js-upload-button-disabled upload-button-disabled js-filer-tooltip filer-tooltip-wrapper"
                  title="{% trans 'You have to select a folder first' %}">
                <a href="#" class="navigator-button navigator-button-upload" disabled>
                    {% trans "Upload Files" %}
                </a>
            </span>
        {% endif %}
    </div>
{% endblock %}

